@font-face {
  font-family: PretendardVariable;
  src: url("../public/PretendardVariable.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  input,
  textarea {
    @apply text-black dark:text-white;
  }
}
mark {
  background-color: #ffe066;
  border-radius: 0.25em;
  box-decoration-break: clone;
  padding: 0.125em 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f1f5f9;
  padding: 1px;
}
::-webkit-scrollbar-thumb {
  margin: 1px;
  background-color: #e2e8f0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cbd5e1;
}
/* scrollbar-width: thin;
  scrollbar-color: $gray-200 $gray-100; */
